# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly
# Prisma
DATABASE_URL=postgresql://postgres:rqxZpuKgXuUY0NE9@db.shodhbtrjfucaphdwqbt.supabase.co:5432/postgres

# Prisma Shema File Notes 
# NOTE: When using postgresql, mysql or sqlserver, uncomment the @db.Text annotations in   refresh_token , access_token, id_token
# Further reading:
# https://next-auth.js.org/adapters/prisma#create-the-prisma-schema
# https://www.prisma.io/docs/reference/api-reference/prisma-schema-reference#string


# Supabase 
NEXT_PUBLIC_SUPABASE_URL=https://shodhbtrjfucaphdwqbt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNob2RoYnRyamZ1Y2FwaGR3cWJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzQ0MzY3ODYsImV4cCI6MTk5MDAxMjc4Nn0.APKukDDJgSAocOFX1ABydK4jzSwbCFD01LCp3qCqGJo


# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Next Auth Google Provider
GOOGLE_CLIENT_ID=1060926789023-4r439cq9oacautleqj7mp0cuv8ob8vvc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

